<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base}">
<body>
<div th:fragment="content" style="max-width: 700px; margin: 0 auto;">

    <h1 class="ui dividing header">
        <i class="tag icon"></i>
        <div class="content">
            <span th:text="${categoria.id != null} ? 'Editar Categoría' : 'Nueva Categoría'"></span>
            <div class="sub header">Establezca los parámetros de clasificación para los artículos comerciales.</div>
        </div>
    </h1>

    <div class="ui segment">

        <form th:object="${categoria}"
              th:action="${categoria.id == null} ? @{/categorias} : @{/categorias/{id}(id=${categoria.id})}"
              method="POST" class="ui form">

            <div class="field required">
                <label for="nombre">Nombre:</label>
                <div class="ui left icon input">
                    <i class="font icon"></i>
                    <input type="text" id="nombre" th:field="*{nombre}" placeholder="Ej. Lácteos, Tecnología, Ropa" required>
                </div>
            </div>

            <div class="field">
                <label for="descripcion">Descripción:</label>
                <div class="ui left icon input">
                    <i class="file text icon"></i>
                    <input type="text" id="descripcion" th:field="*{descripcion}" placeholder="Detalla los productos de esta categoría">
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="form-actions">
                <button type="submit" class="ui teal button">
                    <i class="save icon"></i> Guardar
                </button>
                <a href="/categorias" class="ui button">
                    Cancelar
                </a>
            </div>
        </form>

    </div>
</div>
</body>
</html>
